<style>
    img {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    
    table,
    th,
    td,
    tr {
        border-collapse: collapse;
    }
    
    th,
    td,
    tr {
        padding: 0px;
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row" style="text-align: left;">
            <div class="col l4 m6 s12">
                <p class="grey-text text-lighten-4">
                    Markham Community Robotics is a local, student-led robotics organization that competes in the FIRST Robotics Competition.
                </p>
                <p class="grey-text text-lighten-3">Copyright © 2021 Markham Community Robotics</p>
            </div>

            <div class="col l2 m6 s12" id="social-media">
                <div class="row">
                    {% include social-media-links.html %}
                </div>
            </div>

            <div class="col l3 m6 s12" style="margin-top: 0.5em;">
                <a href="http://www.sablemetal.com"><img src="/assets/logos/sponsors/Sable.gif"></a>
            </div>
            <div class="col l3 m6 s12" style="margin-top: 0.5em;">
                <a href="https://kidzwhiz.com"><img src="/assets/logos/sponsors/Kidzwhiz.png"></a>
            </div>
        </div>
    </div>
</footer>