<style>
    img {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    
    table,
    th,
    td,
    tr {
        border-collapse: collapse;
    }
    
    th,
    td,
    tr {
        padding: 0px;
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row" style="text-align: left;">
            <div class="col l4 m6 s12">
                <p class="grey-text text-lighten-4">
                    Markham Community Robotics is a local, student-led robotics organization that competes in the FIRST Robotics Competition.
                </p>
                <p class="grey-text text-lighten-3">Copyright © 2021 Markham Community Robotics</p>
            </div>

            <div class="col l4 m6 s12" id="social-media" style="margin-bottom: 2.6em;">
                <!--{% include social-media-links.html %}-->
                <div class="row">
                    <div class="col l3 m6 s3" style="text-align: center;">
                        <a style="margin-inline: 0%;" href="https://www.instagram.com/frc6866" title="Instagram"><i class="fa fa-instagram fa-4x"></i></a>    
                    </div>
                    <div class="col l3 m6 s3" style="text-align: center;">
                        <a style="margin-inline: 0%;" href="https://www.twitter.com/frc6866" title="Twitter"><i class="fa fa-twitter-square fa-4x"></i></a>    
                    </div>
                    <div class="col l3 m6 s3" style="text-align: center;">
                        <a style="margin-inline: 0%;" href="https://github.com/frcteam6866" title="GitHub"><i class="fa fa-github-square fa-4x"></i></a>    
                    </div>
                    <div class="col l3 m6 s3" style="text-align: center;">
                        <a style="margin-inline: 0%;" href="https://www.facebook.com/team6866frc/" title="Facebook"><i class="fa fa-facebook-square fa-4x"></i></a>  
                    </div>
                </div>
            </div>

            <div class="col l2 m6 s12">
                <span class="align-middle">
                    <a href="http://www.sablemetal.com"><img src="/assets/logos/sponsors/Sable.gif"></a>
                </span>
            </div>
            <div class="col l2 m6 s12">
                <span class="align-middle">
                    <a href="https://kidzwhiz.com"><img src="/assets/logos/sponsors/Kidzwhiz.png"></a>
                </span>
            </div>
        </div>
    </div>
</footer>